@charset "UTF-8";

/* font */
$common-font: Microsoft Yahei, Arial, Helverica Neue, helvetica, sans-serif;

/* color */
$blue: #007bff;
$red: #dc3545;
$dark: #343a40;
$orange: #ffc107;
$green: #28a745;

/* 层级 */
$app-mask-index: 100;
$app-modal-index: 100;